#about {
    text-align: center;
    background: var(--main-darker-color);
    padding: 40px 0;
}


.person {
    width: 20vh;
    /*box-shadow: 1px 1px 6px var(--main-lighter-color); */
    text-align: center;
    border-radius: 5%;
    padding: 20px 10px;
    margin-top: 20px;
    color: var(--light-color);
}

.person .name {
    font-weight: bold;
    font-size: 1.1em;
    color: var(--secondary-color)
}

.person img {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;

}
