
.title {
    background-color: #CAEDE9;
}

.card-body{
    background-color:#B2B2ED;
}
.card-header{
        border: 0px solid #B2B2ED;
}
.router{
    background-color:#B2B2ED;
}
h3{
    color: #EDE1B2;
}

.part-img{
    margin-bottom: 0.5em;
    max-width: 80%;
    margin: auto;
    margin-top: 1em;
}

div .quizz{
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.quizz .score-section{
    font-weight: bold;
}
.card+.card .card-body{
    border: 1px solid #B2B2ED;
}

.diapo-article{
    max-width: 75%;
    max-height: 75%;
    margin:auto;
}