
.carroussel h3 {
    color: #007bff;
;
}
.carroussel p {
    color: black;
}

.carousel-caption {
    background-color: aliceblue;
    opacity: 0.9;
    border-radius: 20px;
}
img{
    height: 100%;
    width: auto;
}
